@use 'sass:math';

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #F0FFFF;
  font-family: 'Roboto', sans-serif;
}

$step-size: 50px;
$border-color-disabled: #A8A8A8;
$line-color-disabled: #DCDCDC;
$disabled-color: #A8A8A8;

$border-color-current: #3498db;
$current-color: #3498db;

$border-color-success: #2ecc71;
$line-color-success: #2ecc71;
$success-color: #2ecc71;

.container {  
  .center {
    width: 50%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul.step-progress-bar {
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    .step-item {
      display: flex;
      flex: 1;
      justify-content: center;
      position: relative;
      color: $disabled-color;
      transition: color .2s ease;
      
      &:after {
        content: '';
        position: absolute; 
        height: 2px;
        background-color: $line-color-disabled;
        width: 100%;
        top: 50%;
        left: 50%;
        transition: background-color .2s ease;
      }
      
      &:last-child:after {
        content: none;
      }
      
      &:before {
        font-family: FontAwesome;
        content: '\f069';
        background: #fff;
        border: 2px solid $border-color-disabled;
        width: $step-size;
        height: $step-size;
        border-radius: math.div($step-size, 2) + 5px; // 5px fix right radius
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color .2s ease;
        z-index: 1;
      }
      
      // When in a step
      &.current {
        color: $current-color;
      }
      &.current:before {
        content: '\f040';
        border-color: $border-color-current;
        animation: content-animation .2s ease both;
      }
      
      // When a step has been successfully done
      &.success {
        color: $success-color;
      }
      &.success:before {
        content: '\f00c';
        border-color: $border-color-success;
        animation: content-animation .2s ease both;
      }
      &.success:after {
        background-color: $line-color-success;
        animation: line-animation .2s ease both;
      }
    }
  }
  
  .slides-container {
    position: relative;
    padding: 10px;
    display: inline-flex;
    width: 100%; 
    overflow: hidden;
    justify-content: center; 
    .slide {
      width: 100%;
      min-width: 100%;
      display: block;
      &:not(:first-child) {
        display: none;
        position: absolute;
      }
      .card-header {
        background-color: #EEEEEE;
        border-bottom: none;
        font-size: 1rem;
        padding: 1rem 3rem;
      }
      &.card {
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -3px rgba(0,0,0,.2), 0 0px 1px 0 rgba(0,0,0,.12);
      }
    }
  }
  
  .action-buttons {
    position: absolute;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    z-index: 2;
    padding: 1.2rem;
    .bmd-btn-fab {
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      font-size: 1rem; 
      background: transparent;
    }  
  }
}

@keyframes content-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes line-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}